body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
.header-section{
    display: flex;
    margin-bottom: 150px;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-left: 3%;
}
.header-img{
    width: 70%;
}
.dream-section{
    display: flex;
    margin-bottom: 150px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-img{
    width: 100%;
}
.dream-content{
    padding-right: 6%;
}
.experience-area{
    display: flex;
    width: 100%;
    margin-bottom: 50px;
}
.box-shadow{
    box-shadow: 10px 10px 40px grey;
    margin: 2.5% 4%;
    padding: 2%;
    border-radius: 10px;
}
.full-border{
    border-left: 7px solid;
    border-image: linear-gradient(tomato,salmon);
    border-image-slice: 1;
}
.baby-border{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
.exp-section{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 150px;
}
footer p{
    text-align: center;
}